@model IEnumerable<ToDoList.Models.MyToDoList>
@using ToDoList.Models

<!DOCTYPE HTML>
<html >
<head>
    <environment include="Development"> 
        <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <meta charset="utf-8" />

    <title>ToDoList</title>
   
</head>
<body>

    

   

<form method="post">
    
    <div class="card">
        
        <div class="txt">

            <input type="date" name="DateTime" placeholder="Дата выполнения." value="" />
        </div>
        <div class="txt">
            <select class="select-card" name="CompletedNoCompleted">
                <option disabled>Место выполнения.</option>
                <option value="Надо сделать  дома:">Надо сделать  дома:</option>
                <option value="Надо сделать  на работе:">Надо сделать  на работе:</option>
                <option value="Надо сделать  в огороде:">Надо сделать  в огороде:</option>
                <option value="Надо сделать  в городе:">Надо сделать  в городе:</option>
            </select>
        </div>
        <div class="txt">
            <input type="text" name="Tasc" placeholder="Задача." value="" />
        </div>
        <div>
            <select class="select-card" name="importance">
                <option disabled>Выберите приоритет.</option>
                <option value="Высокий приоритет.">Высокий приоритет.</option>
                <option value="Средний  приоритет.">Средний  приоритет.</option>
                <option value="Низкий  приоритет.">Низкий  приоритет.</option>
            </select>
        </div>
        <div class="txt">
            <label>&nbsp;</label>
            <input type="submit" value="Submit" class="submit" />
        </div>
    </div>


    @foreach (var item in Model)
    {


<div class="card">

    <div class="txt">@Html.ActionLink("Удалить", "Delete", new { id = item.Id })</div>
    <div class="txt"> @item.DateTime</div>
    <div class="txt">@item.CompletedNoCompleted</div>
    <div class="txt"> @item.Tasc</div>
    <div class="txt">@item.importance</div>
</div>

    }

</form>
</body>
</html>









